# Project-specific files
sensors.py
kombucha_data.json

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Log files
*.log

# Environment variables
.env
.env.local

# Streamlit specific
.streamlit/secrets.toml